
.div{
    margin-top: -10rem;
    margin-left: 5rem;
}

.list {
     display: flex;
    padding-left: 90px;
   
}

.items {
    text-align: center;
    list-style: none;
    border: 3px solid black;
    border-radius: 30%;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 4px;
    background-color: black;
    
}
.btn {
    background-color: #BDDA06 ;
    border-radius: 30%;
    border: 2.5px solid black ;
    transition-duration: 0.4s;
    width: 40px;
    height: 40px;
    margin-top: 6px;
    

}
.btn:focus
{outline:none }

.btn:hover {
    cursor:pointer;
    background-color:#D5F5E3 ;
    color: whitesmoke(255, 255, 255)
}